Import Package

In [1]:
import io
import re
import os
import numpy as np
import pandas as pd

Load Data

In [2]:
with open('A_prot.txt', 'r') as txt:
    lines = [l for l in txt if l.startswith(' A')] #read by lines and start with ' A'
predata = pd.read_csv(io.StringIO(''.join(lines)), names=['prot', 'amino'], sep='\  +', engine='python') #rejoin lines and seperate stiring by '  '
predata.replace(' ', '', regex=True, inplace=True) #remove spaces from string
predata.fillna('', inplace=True) #replace nan with ''
predata

                 prot                                              amino
0       A*01:01:01:01  MAVMAPRTLLLLLSGALAL..TQTWAGSHSMRYFFTSVSRPGRGEP...
1      A*01:01:01:02N  -------------------..-------------------------...
2       A*01:01:01:03  -------------------..-------------------------...
3       A*01:01:01:04  -------------------..-------------------------...
4       A*01:01:01:05  -------------------..-------------------------...
...               ...                                                ...
31568         A*80:06  ----K-K------------E-------P------------------...
31569         A*80:07  ----K-K------------E-------P------------------...
31570        A*80:08N
31571        A*80:09N
31572       A*03:437Q                                          LDSCLVWDX

[31573 rows x 2 columns]

Groupby

In [74]:
predatagb = predata.groupby('prot')
predatagb.size()

prot
A*01:01:01:01     4
A*01:01:01:02N    4
A*01:01:01:03     4
A*01:01:01:04     4
A*01:01:01:05     4
                 ..
A*80:05           4
A*80:06           4
A*80:07           4
A*80:08N          4
A*80:09N          4
Length: 7893, dtype: int64

In [34]:
predatagb.get_group('A*03:437Q')

            prot                                              amino
3211   A*03:437Q  -------------------..-------------------------...
11104  A*03:437Q  -Q-----VD------------A--------------S--------....
18997  A*03:437Q  ..-L-A--D-T--EW-------...---------------------...
26890  A*03:437Q  ----------------------------------------------...
31572  A*03:437Q                                          LDSCLVWDX

Filter

In [107]:
filter = (predata['prot'] == 'A*01:01:01:01')
predata[filter]

                prot                                              amino
0      A*01:01:01:01  MAVMAPRTLLLLLSGALAL..TQTWAGSHSMRYFFTSVSRPGRGEP...
7893   A*01:01:01:01  AHSQTDRANLGTLRGYYNQSEDGSHTIQIMYGCDVGPDGRFLRGY....
15786  A*01:01:01:01  ..QRRVYLEGRCVDGLRRYLEN...GKETLQRTDPPKTHMTHHPIS...
23679  A*01:01:01:01  VPSGEEQRYTCHVQHEGLPKPLTLRWELSSQPTIPIVGIIAGLVLL...

In [73]:
filter = (predata['prot'] == 'A*03:437Q')
predata[filter]

            prot                                              amino
3211   A*03:437Q  -------------------..-------------------------...
11104  A*03:437Q  -Q-----VD------------A--------------S--------....
18997  A*03:437Q  ..-L-A--D-T--EW-------...---------------------...
26890  A*03:437Q  ----------------------------------------------...
31572  A*03:437Q                                          LDSCLVWDX

Merge: groupby.agg or pivot_table

In [110]:
df = predata.groupby('prot', sort=False).aggregate(lambda x:''.join(x)).reset_index()
#df = predata.pivot_table(index='prot', values='amino', aggfunc=(lambda x:''.join(x)),sort=False).reset_index()
print(df)

filter = (df['prot'] == 'A*03:437Q')
print(df[filter])

                prot                                              amino
0      A*01:01:01:01  MAVMAPRTLLLLLSGALAL..TQTWAGSHSMRYFFTSVSRPGRGEP...
1     A*01:01:01:02N  -------------------..-------------------------...
2      A*01:01:01:03  -------------------..-------------------------...
3      A*01:01:01:04  -------------------..-------------------------...
4      A*01:01:01:05  -------------------..-------------------------...
...              ...                                                ...
7888         A*80:05  ----P--------------..-------------------------...
7889         A*80:06  ----P--------------..-------------------------...
7890         A*80:07  ----P--------------..-------------------------...
7891        A*80:08N  ----P--------------..-------------------------...
7892        A*80:09N  *******************..******-------------------...

[7893 rows x 2 columns]
           prot                                              amino
3211  A*03:437Q  -------------------..-------------------------...

<em>Other merge method:join() line by line</em>

In [31]:
#df = pd.DataFrame(columns=['prot', 'amino']) 
#df['prot'] = predata['prot'][0:7893]

##rejoin strings in 'amino' which hava same 'prot'
#for n in range(7893):
#    filter = (predata['prot'] == predata['prot'][n])
#    df['amino'][n] = ''.join([i for i in predata[filter]['amino']])

<em>Other merge method 2:dataframe.str.cat() column by column</em>

In [47]:
#filter = (predata['prot'] == 'A*01:01:01:01')
#index_filter = predata.index[filter].tolist()
#filter = (predata['prot'] == 'A*01:01:01:01')
#index_filter = predata.index[filter].tolist()
#pre1 = predata[:index_filter[1]].reset_index(drop=True)
#pre2 = predata[index_filter[1]:index_filter[2]].reset_index(drop=True)
#pre3 = predata[index_filter[2]:index_filter[3]].reset_index(drop=True)
#pre4 = predata[index_filter[3]:].reset_index(drop=True)
#df['amino'] = df['amino'].str.cat([pre1['amino'], pre2['amino'], pre3['amino'], pre4['amino']], sep='', na_rep='')
#df = pd.DataFrame(columns=['prot', 'amino']) 
#df['prot'] = predata['prot'][0:7893]
#df['amino'] = df['amino'].str.cat([pre1['amino'], pre2['amino'], pre3['amino'], pre4['amino']], sep='', na_rep='')

<h2>HW1</h2>
input: Any specific field of HLA-A</p>
output: sequence of the input specific field</p>
P.S.</p>
1.reference : A*01:01:01:01</p>
2.檔案裡序列分成四段 -30~342 記得合併起來</p>
3.*代表變成 .</p>
4.reference 中的 . 輸出時直接跳過</p>
5.輸出時不要有空格</p>

In [113]:
def Practice1(field):
    str0 = []
    ref = df['amino'][0] #P.S.1 reference : A*01:01:01:01
    
    filter = (df['prot'] == field) #P.S.2 dataframe df is already concatenate
    index_field = df.index[filter].tolist() #find out index of input field
    spec = df['amino'][(index_field[0])] #'amino' string of input field
    sub = re.compile('\*|[A-Z]') #generate regex pattern of '*' or uppercase letters

    index_t = [substr.start() for substr in re.finditer(sub, spec)]#locate every variance position of the string of input field
    #replace every variance position of reference with the string of input field
    str0 = ref[:len(spec)]
    for i in index_t:
        str0 = str0[:i] + spec[i] + str0[i+1:]
    
    str0 = str0.replace('.','') #P.S.4,5 remove . in strings
    str0 = str0.replace('*','.') #P.S.3 replace * with .

    return str0

Input & Output

In [114]:
spec_field = input('field:')
print(Practice1(spec_field))

MAIMAPRTLVLLLSGALALTQTWAGSHSMRYFYTSVSRPGRGEPRFIAVGYVDDTQFVRFDSDAASQRMEPRAPWIEQEGPEYWDGETRKVKAHSQTHRVDLGTLRGYYNQSEAGSHTVQRMYGCDVGSDWRFLRGYHQYAYDGKDYIALKEDLRSWTAADMAAQTTKHKWEAAHVAEQLRAYLEGTCVEWLRRYLENGKETLQRTDAPKTHMTHHAVSDHEATLRCWALSFYPAEITLTWQRDGEDQTQDTELVETRPAGDGTFQKWAAVVVPSGQEQRYTCHVQHEGLPKPLTLRWEPSSQPTIPIVGIIAGLVLFGAVITGAVVAAVMWRRKSSDRKGGSYSQAASSDSAQGSDVSLTACKV

<h2>HW2</h2>
output: 列出 A01 中每一項的 determined variants (e.g. A01:02:01:01, A*01:03:01:01...)</p>
P.S.用txt檔輸出

In [115]:
def Practice2(field):    
    filter = (df['prot'] == field)
    index_field = df.index[filter].tolist() #find out index of input field
    spec = df['amino'][(index_field[0])] #'amino' string of input field
    sub = re.compile('\*|[A-Z]') #generate regex pattern of '*' or uppercase letters

    index_t = [substr.start() for substr in re.finditer(sub, spec)] #locate every variance position of the string of input field

    ts = '' #create a string record every position and letter of determined variants
    for i in index_t:
        position = i - 25
        protein = spec[i]
        if position >= 1:
            ts = f'{ts}, {position}:{protein}'
        else:
            ts = f'{ts}, {position-1}:{protein}'

    ts = ts.strip(', ')
    return ts

In [140]:
Practice2('A*01:02:01:01')

'9:S, 17:S'

Build Dataframe

In [141]:
df2 = pd.DataFrame(columns=['prot', 'code'])
df2['prot'] = [c for c in df['prot'] if c.startswith('A*01')] #strings in 'prot' which start with A*01
df2['code'] = [Practice2(c) for c in df2['prot']]             #fill 'code' column by function HW2
df2['code'][0] = ''
df2

               prot                                               code
0     A*01:01:01:01
1    A*01:01:01:02N  92:D, 93:P, 94:G, 95:P, 96:G, 97:R, 98:R, 99:S...
2     A*01:01:01:03
3     A*01:01:01:04
4     A*01:01:01:05
..              ...                                                ...
710        A*01:431                                               17:P
711        A*01:432                                               99:C
712       A*01:433N                                              277:X
713        A*01:434                                              108:P
714        A*01:435                                              140:R

[715 rows x 2 columns]

Output

In [142]:
df2.to_csv('Group_HW2.txt',sep='\t',index=False)